.landingComponent{
  align-self: center;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  /* border-radius: 10px; */
  flex: 1 1 auto;
  margin: 10px;
}

#landing{
  grid-column-start: 2;
}

@media only screen and (min-width:450px){
  .landingActions{
    display:flex;
    flex-flow:row;
    width: 100%;
  }
}
