.review-questions {
  /* border: 1px solid black; */
  margin: 10px;
  padding: 10px;
}

.modify-question-btn {
  display: block;
  margin-left: auto;
}

.edit-question-btn {
  margin-top: 10px;
  margin-right: auto;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  max-width: 100px;
}

.correct-option {
  font-weight: bold;
  font-size: 20px;
}
