.main-body {
  background-color: lightgrey;
}

.error-message {
  text-align: center;
  color: red;
}

@media only screen and (min-width: 450px) {
  .dash {
    display: grid;
    grid-template-columns: 160px 1fr;
  }
  .error-message {
    grid-column-start: 2;
  }
  .action-screen {
    grid-column-start: 2;
  }
}
