.nav{
  background-color: var(--base-blue);
  display:grid;
  padding: 20px;
  text-align:center;
  text-decoration: none;
}

.link{
  color:white;
  display:block;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid white;
}

.link:hover{
  background-color:white;
  color: var(--base-blue);
}
#profile_pic{
  margin-left:auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
@media only screen and (min-width:450px){
  .nav{
    height: 100vh;
    text-align: left;
    grid-template-rows: 150px;
    width: 120px;
    position:fixed;
  }
}