.nav{
  background-color: #3A3335;
  display:grid;
  padding: 20px;
  text-align:center;
}
a{
  color:white;
  display:block;
  padding: 10px;
}
#profile_pic{
  margin-left:auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
@media only screen and (min-width:450px){
  .nav{
    height: 100vh;
    text-align: center;
    grid-template-rows: 150px;
    position:fixed;
  }
  #profile_pic{
    border-radius: 0%;
    width: 100px;
    height: 100px;
  }

}