.associate{
  border: 1px solid black;
  text-align: center;
  margin: 10px;
}

/* #display-associates{
  margin: 50px;
} */

@media only screen and (min-width:450px){
  #display-associates{
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
  }
  .associate{
    width: 220px;
  }
}