#all-quizes{
  margin: 10px;
  /* border: 1px solid black; */
  padding: 10px;
}

#quiz-options{
  display: flex;
}

@media only screen and (min-width:450px){
  .quiz-tiles{
    display: flex;
    flex-wrap: wrap;
  }
}